# User Configuration (Secrets)
config.json

# Build Artifacts
dist/
build/
installer/
AppDir/
*.spec
*.AppImage
appimagetool*

# Python
__pycache__/
*.py[cod]
*.so
core/_generated_build_info.py

# IDEs
.vscode/
.idea/
.DS_Store

# Virtual Environments
venv/
env/
